header {
    background-color:#E8B4B4;
    width:900px;
    height:100px;
    text-align:center;
    line-height:100px;
  }
  aside{
    background-color:#C3B091;
    width:200px;
    height:300px;
    text-align:left;
    float:left;
  }
  main{
    background-color:#B0BCA8;
    width:700px;
    height:300px;
    margin-left:200px;
  }
  .table-wrap{
    padding:20px;
  }
  table{
    margin:auto;
  }
  button{
    margin-left:500px;
  }
  footer{
    background-color:#789;
    width:900px;
    height:80px;
  }